<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          {% if page.url != '/' %}
            {% if page.category == 'books' %}
            <small><a href="{{ site.baseurl }}/books" title="Books">Back</a></small>
            {% else %}
            <small><a href="{{ site.baseurl }}" title="Home">Back</a></small>
            {% endif %}
          {% endif %}
        </h3>
        <div class="masthead-links">
          <span class="masthead-links__link">
            <i class="fa fa-github"></i>
            <a href="https://github.com/can3p">github.com/can3p</a>
          </span>
          <span class="masthead-links__link">
            <i class="fa fa-twitter"></i>
            <a href="https://twitter.com/can3p">twitter.com/can3p</a>
          </span>
          <span class="masthead-links__link">
            <i class="fa fa-rss"></i>
            <a href="{{ site.baseurl }}/atom.xml">Atom feed</a>
          </span>
          <span class="masthead-links__link">
            <i class="fa fa-info"></i>
            <a href="{{ site.baseurl }}/about/">About</a>
          </span>
        </div>
      </div>

      {{ content }}
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-5989073-9', 'auto');
        ga('send', 'pageview');

    </script>
  </body>
</html>
